<app-home></app-home>
<div>  
   <app-blogform></app-blogform>  
   <app-bloglist></app-bloglist>
</div>
<!-- <h1>App Component Count {{count}}</h1>
<app-inputoutput [count]="count" (countChange)='changed($event)'></app-inputoutput>
<app-inputoutput [(count)]="count" ></app-inputoutput> -->

<!-- <h2>NAme  : <input type="text" name = 'uname' [(ngModel)] = 'username'/></h2>
<h2>Employee NAme : <input type="text" name = 'uname' [(ngModel)] = 'emp.name'/></h2>
<app-lifecycle [name]='username' [employee]='emp'></app-lifecycle> -->

<!-- <app-directive></app-directive> -->   
<!-- <app-blog></app-blog> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-reactive></app-reactive> -->

<!-- <h1 class="text-center">{{service.message}}</h1> -->
      <!-- <div class="row">
            <div class="col-lg-6">
              <app-parent></app-parent>
            </div>
            <div class="col-lg-6">
              <app-parent></app-parent>
            </div>
          </div> -->


