#blog{
    padding: 20px;
    margin:20px;   
    transition: 1s ease all;
}
p{  
    color:darkmagenta;
    font-weight: bold;
}
.personal{
    border: 2px solid crimson;
}
.nature{
    border: 2px solid rgb(7, 145, 26);
}
.politics{
    border: 2px solid blue;
}
.technical{
    border: 2px solid black;
}