h1{
    background-color:crimson;
    border: 1px solid darkcyan;
    padding:20px;
    text-align: center;
    margin: 0px;
}
#p1{
    color:brown;
    padding: 40px;
    margin: 0 auto;
    background-color: antiquewhite;
    text-align: center;
    font-size: 18px;

}